@model JobPortal.ViewModels.ChangePasswordViewModel

<head>
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!------ Include the above in your HEAD tag ---------->
    <style>
        .resetStyle {
            margin-top: 5%;
            margin-left: 35%;
        }

        footer {
            display: none;
        }
    </style>
</head>

<div class="row card text-center resetStyle" style="width:30%;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your new password.
        </p>
        <form method="post">
            <label asp-for="Password">Current Password</label>
            <div class="form-group pass_show">
                <input asp-for="Password" type="password" class="form-control" placeholder="Current Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div><label asp-for="Password">New Password</label>

            <div class="form-group pass_show">
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <label asp-for="ConfirmPassword">Confirm Password</label>
            <div class="form-group pass_show">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary text-center" style="left:50px;">Update Password</button>
        </form>
    </div>
</div>