@model JobPortal.ViewModels.ChangePasswordViewModel

<head>
    <style>
        footer {
            display: none;
        }

        html, body {
            height: 100%;
        }


        form {
            padding-top: 10px;
            font-size: 13px;
            margin-top: 30px;
        }

        .card-title {
            font-weight: 300;
        }

        .btn {
            font-size: 13px;
        }

        .login-form {
            text-align: center;
            width: 30%;
            margin: 20px;
        }

        .sign-up {
            text-align: center;
            padding: 20px 0 0;
        }

        span {
            font-size: 14px;
        }

        .submit-btn {
            margin-top: 20px;
        }

        .card {
            margin-left: 30%;
        }

        @@media screen and (max-width: 480px) {
            .login-form {
                text-align: center;
                width: 90%;
                margin: 20px;
            }
        }

        .changePasswordBtn, .profleBuildBtn {
            position: relative;
            float: inherit;
            line-height: 20px;
            text-align: center;
            color: #FFF;
            background-color: #746EA9;
            border-radius: 5px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-transition: all 100ms ease-in-out;
            -moz-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
        }

            changePasswordBtn:hover, .profleBuildBtn:hover {
                background-color: #535383;
                font-weight: bold;
                color: white;
            }

    </style>
</head>

<body>
    <div class="card login-form" >
        <div>
            <div class="card-body">
                <h3 class="card-title text-center">Ndryshoni Fjalëkalimin</h3>

            <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

            <div class="card-text">
                <form method="post">
                    <label asp-for="Password">Fjalëkalimi Aktual</label>
                    <div class="form-group pass_show">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Fjalëkalimi Aktual">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <label asp-for="Password">Fjalëkalimi i Ri</label>

                    <div class="form-group pass_show">
                        <input asp-for="NewPassword" type="password" class="form-control" placeholder="Fjalëkalimi i Ri">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <label asp-for="ConfirmPassword">Konfirmoni Fjalëkalimin</label>
                    <div class="form-group pass_show">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Konfirmoni Fjalëkalimin">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn changePasswordBtn text-center">Përditsoni Fjalëkalimin</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</body>