@model JobPortal.ViewModels.EmployeeRegisterViewModel

<head>
    <link rel="stylesheet" href="~/css/Password-Reset.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
        <div class="move-center">
        <div class="row card text-center resetStyle border-0" id="width-resize">
            <div class="card-header h5 text-white bg-primary">Keni harruar fjalekalimin tuaj?</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Ju do të pranoni një email për rikthim të fjalëkalimit.
                </p>
                <form method="post">
                    <div class="form-outline">
                        <input asp-for="Email" type="email" id="typeEmail" class="form-control my-3" placeholder="Email-i juaj" />
                        @*<label class="form-label" for="typeEmail">Email input</label>*@
                    </div>
                    <button type="submit" class="btn btn-primary">Vazhdo</button>
                </form>
                <div class="d-flex justify-content-between mt-4">
                    <a class="" asp-action="Index" asp-controller="Home">Kreu</a>
                    <a class="" asp-action="Login" asp-controller="Account">Hyr</a>

                </div>
                <div class="d-flex justify-content-between mt-4">
                </div>
            </div>
        </div>
    </div>
</body>