@model JobPortal.ViewModels.EmployeeRegisterViewModel

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        footer {
            display: none;
        }

        html, body {
            height: 100%;
        }


        form {
            padding-top: 10px;
            font-size: 13px;
            margin-top: 30px;
        }

        .card-title {
            font-weight: 300;
        }

        .btn {
            font-size: 13px;
        }

        .login-form {
            text-align: center;
            width: 30%;
            margin: 20px;
        }

        .sign-up {
            text-align: center;
            padding: 20px 0 0;
        }

        span {
            font-size: 14px;
        }

        .submit-btn {
            margin-top: 20px;
        }

        .card {
            margin-left: 30%;
        }

        @@media screen and (max-width: 480px) {
            .login-form {
                text-align: center;
                width: 90%;
                margin: 20px;
            }
        }
    </style>
</head>

<body>
    <div class="card login-form">
        <div>
            <div class="card-body">
                <h3 class="card-title text-center">Keni harruar fjalëkalimin tuaj?</h3>
                <p>Vendosni adresës tuaj të e-mail më poshtë dhe ne do të ju dërgojmë hapat që do të ndiqni për të marrë fjalëkalimin e ri</p>
                <hr />
                <div class="card-text">
                    <form method="post">
                        <div class="form-outline">
                            <input asp-for="Email" type="email" id="typeEmail" class="form-control my-3" placeholder="Email-i juaj" />
                            @*<label class="form-label" for="typeEmail">Email input</label>*@
                        </div>

                        <button type="submit" class="btn btn-outline-danger text-center" style="left:50px;">Përditsoni Fjalëkalimin</button>
                    </form>
                    <div class="d-flex justify-content-between mt-4">
                        <a class="" asp-action="Index" asp-controller="Home">Kreu</a>
                        <a class="" asp-action="Login" asp-controller="Account">Hyr</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


    .
    <!--<div class="move-center">
           <div class="row card text-center resetStyle border-0" id="width-resize">
               <div class="card-header h5 text-white bg-primary">Keni harruar fjalekalimin tuaj?</div>
               <div class="card-body px-5">
                   <p class="card-text py-2">
                       Ju do të pranoni një email për rikthim të fjalëkalimit.
                   </p>
                   <form method="post">
                       <div class="form-outline">
                           <input asp-for="Email" type="email" id="typeEmail" class="form-control my-3" placeholder="Email-i juaj" />-->
    @*<label class="form-label" for="typeEmail">Email input</label>*@
    <!--</div>
                    <button type="submit" class="btn btn-primary">Vazhdo</button>
                </form>
                <div class="d-flex justify-content-between mt-4">
                    <a class="" asp-action="Index" asp-controller="Home">Kreu</a>
                    <a class="" asp-action="Login" asp-controller="Account">Hyr</a>

                </div>
                <div class="d-flex justify-content-between mt-4">
                </div>
            </div>
        </div>
    </div>-->
