@model JobPortal.ViewModels.ResetPasswordViewModel

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        footer {
            display: inherit;
        }

        html, body {
            height: 100%;
        }


        form {
            padding-top: 10px;
            font-size: 13px;
            margin-top: 30px;
        }

        .card-title {
            font-weight: 300;
        }

        .btn {
            font-size: 13px;
        }

        .login-form {
            text-align: center;
            width: 30%;
            margin: 20px;
        }

        .sign-up {
            text-align: center;
            padding: 20px 0 0;
        }

        span {
            font-size: 14px;
        }

        .submit-btn {
            margin-top: 20px;
        }

        .card {
            margin-left: 30%;
        }

        .forgetBtn {
            position: relative;
            line-height: 20px;
            text-align: center;
            color: #FFF;
            background-image: linear-gradient(to right, #4e42f5, #8742f5);
            border-radius: 5px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-transition: all 100ms ease-in-out;
            -moz-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
        }

        @@media screen and (max-width: 480px) {
            .login-form {
                text-align: center;
                width: 90%;
                margin: 20px;
            }
        }
    </style>
</head>

<body>
    <div class="card login-form">
        <div>
            <div class="card-body">
                <h3 class="card-title text-center">Vendosni fjalëkalimin tuaj?</h3>
                <hr />
                <div class="card-text">
                    <form method="post">
                        <label asp-for="Password">Fjalëkalimi i Ri</label>
                        <div class="form-group pass_show">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Fjalëkalimi i Ri">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <label asp-for="ConfirmPassword">Konfirmoni Fjalëkalimin</label>
                        <div class="form-group pass_show">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Konfirmoni Fjalëkalimin">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn forgetBtn text-center" >Përditsoni Fjalëkalimin</button>
                    </form>
                    <div class="d-flex justify-content-between mt-4">
                        <a class="" asp-action="Index" asp-controller="Home">Kreu</a>
                        <a class="" asp-action="Login" asp-controller="Account">Hyr</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>