@model JobPortal.ViewModels.ResetPasswordViewModel

<head>
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="~/css/Password-Reset.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="move-center">
    <div class="row card text-center resetStyle border-0" id="width-resize">
        <div class="card-header h5 text-white bg-primary">Vendosni fjalëkalimin tuaj të ri</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your new password.
            </p>
            <form method="post">
                <label asp-for="Password">Fjalëkalimi i Ri</label>
                <div class="form-group pass_show">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Fjalëkalimi i Ri">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <label asp-for="ConfirmPassword">Konfirmoni Fjalëkalimin</label>
                <div class="form-group pass_show">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Konfirmoni Fjalëkalimin">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary text-center" style="left:50px;">Rivendosni Fjalëkalimin</button>
            </form>
        </div>
    </div>
</div>