@model JobPortal.Models.Job

@{
    ViewData["Title"] = "Edit";
}


@*<h1>Edit @Model.Title Details</h1>*@

<hr />

<div class="container">
    
    </div>

    <div class="row" style="display:flex; justify-content:center;">
        <div class="col-md-10">
            <form asp-action="Edit" enctype="multipart/form-data">

                <div class="row d-flex">
                    <div class="col">
                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>
                        <br />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea class="form-control" asp-for="Description" placeholder="Enter Your Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Category" class="control-label"></label>
                            <select asp-for="Category" id="category" name="category" placeholder="Choose category"
                                    class="form-control">
                                <option value="web-design">Web design</option>
                                <option value="graphic-design">Graphic design</option>
                                <option value="web-development">Web development</option>
                                <option value="human-resource">Human Resources</option>
                                <option value="support">Support</option>
                                <option value="android">Android</option>
                            </select>
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Salary" class="control-label"></label>
                            <input type="number" asp-for="Salary" class="form-control" />
                            <span asp-validation-for="Salary" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Location" class="control-label"></label>
                            <input asp-for="Location" class="form-control" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PreferredAge" class="control-label"></label>
                            <input asp-for="PreferredAge" class="form-control" />
                            <span asp-validation-for="PreferredAge" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <div> <label>Change Job Posting Profile Picture</label></div>
                            <div>
                                <input type="file" asp-for="PosterImageURl" accept="image/png, image/gif, image/jpeg" class="form-control" />
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label asp-for="CompanyPhoneNumber" class="control-label"></label>
                            <input type="tel" asp-for="CompanyPhoneNumber" class="form-control" />
                            <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <br /> <br />
                            <label asp-for="Type" class="control-label"></label>
                            <select asp-for="Type" id="category" name="type" placeholder="Choose job type"
                                    class="form-control">
                                <option value="Full Time">Full Time</option>
                                <option value="Part Time">Part Time</option>
                                <option value="Intership">Intership</option>
                            </select>
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Education" class="control-label"></label>
                            <select asp-for="Education" id="category" name="education" placeholder="Choose category"
                                    class="form-control">
                                <option value="High-School Degree">High-School Degree</option>
                                <option value="Bachelors Degree">Bachelors Degree</option>
                                <option value="Masters Degree">Masters Degree</option>
                            </select>
                            <span asp-validation-for="Education" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastDate" class="control-label"></label>
                            <input asp-for="LastDate" class="form-control" />
                            <span asp-validation-for="LastDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CompanyName" class="control-label"></label>
                            <input asp-for="CompanyName" class="form-control" />
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CompanyDescription" class="control-label"></label>
                            <textarea class="form-control" asp-for="CompanyDescription" placeholder="Enter Your Company Description"></textarea>
                            <span asp-validation-for="CompanyDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Website" class="control-label"></label>
                            <input asp-for="Website" class="form-control" />
                            <span asp-validation-for="Website" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label asp-for="CreatedAt" class="control-label"></label>
                            <input asp-for="CreatedAt" class="form-control" />
                            <span asp-validation-for="CreatedAt" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Filled" /> @Html.DisplayNameFor(model => model.Filled)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>

                    
                    
                    
                </div>
            </form>
        </div>
    </div>

    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
