<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        p {
            font-size: 15px;
            text-align:center;
        }

        footer{
            display:none;
        }
    </style>
</head>

<body>
    <div class="container about-us">
        <h3 style="text-align:center; margin-top:2%;">Rreth Nesh</h3>
        <br />
        <p>
            <a href="https://zero.al">Zero.al</a> është një platformë e punësimit që ofron shërbime të punësimit për individët dhe bizneset në Shqipëri. Me qëllim të ndihmuar në gjetjen e punës së duhur për individët dhe në gjetjen e talenteve të duhura për bizneset, ne jemi të angazhuar për të ofruar një platformë të besueshme dhe të sigurtë.
            <br />
            Ne besojmë se gjetja e punës së duhur është e rëndësishme për jetën dhe zhvillimin e individit, dhe ne po punojmë për të ndihmuar individët dhe bizneset në këtë proces.
            <br />
            Duke përdorur teknologji të avancuar dhe ekspertizën e ekipit tonë, ne jemi të përkushtuar për të ofruar shërbime cilësore dhe të personalizuara.
            Me një ekip të dedikuar dhe të kualifikuar, ne jemi të gatshëm të ndihmojmë përdoruesit tanë në çdo moment dhe të përgjigjemi pyetjeve dhe ankesave me kohë.
            <br />
            Ju lutemi ndani me ne nevojat tuaja dhe ne do të punojmë së bashku për të gjetur zgjidhjet e duhura.
            Faleminderit që zgjodhët <a href="https://zero.al">Zero.al</a> si platformën tuaj të punësimit.
        </p>
    </div>
    <br />
</body>
</html>