@model JobPortal.ViewModels.Home.EmployerViewModel
@using Humanizer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        footer {
            display: none;
        }

        .number-of-jobs {
            position: absolute;
            z-index: 1;
            top: 15px;
            border-radius: 150px;
            background: #004d80;
            color: #fff;
            padding: 10px;
            font-size: 12px;
            font-weight: 700;
            left: 10px;
        }

        .card {
            width: 340px;
            height: 205px;
            border: none;
            transition: transform .2s;
        }

        .card-img-top {
            width: 300px;
            height: 175px;
        }

            .card:hover {
                transform: scale(1.1);
            }
    </style>
</head>

<body>
    <h1 style="text-align:center;">Kompanitë me punë aktive</h1>
    <section>
        <div class="container">
            <div class="row">
                 @foreach (var employer in Model.Employers)
                 {
                    <div class="col-sm">
                        <a asp-controller="Home" asp-action="EmployerDetails" asp-route-id="@employer.Id">
                            <div class="card shadow p-3 mb-5 bg-white rounded" id="card-hover">
                                <img class="card-img-top" src="@employer.ImagePath" alt="Card image cap">
                                <div class="number-of-jobs rounded-1">
                                    <span>@employer.JobCount</span>
                                </div>
                            </div>
                        </a>
                    </div>      
                 }
            </div>
        </div>
    </section>
</body>
</html>

<script>
    $(document).ready(function () {
        // executes when HTML-Document is loaded and DOM is ready
        console.log("document is ready");
        $(".card").hover(
            function () {
                $(this).addClass('shadow-lg').css('cursor', 'pointer');
            }, function () {
                $(this).removeClass('shadow-lg');
            }
        );
        // document ready
    });
</script>