<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        p{
            font-size:15px;
        }
    </style>
</head>

<body>

    <div class="container privacy-policy">
        <h3 style="text-align:center;">Politika e Privatësisë</h3>

        <p>
            <a href="https://zero.al">Zero.al</a> (në vijim "ne", "neve" ose "portali") është një platformë e punës që ofron shërbime të punësimit për përdoruesit e saj. Ne jemi të angazhuar për mbrojtjen e të drejtave dhe privatesë së përdoruesve tanë, dhe kështu, ne kemi krijuar këtë politikë të privatësisë për të informuar përdoruesit tanë rreth mënyrave se si ne përdorim dhe mbrojmë informacionin e tyre personale.
            <br />
            <strong>Informacioni i Përdoruesit</strong>
            <br />
            Ne mund të mbledhim dhe të ruajmë informacionin e përdoruesve tanë në mënyra të ndryshme, si:
            <ul>
                <li>
                    Kur përdoruesit i nënshtrojnë aplikacionet e tyre për një pozitë pune ose i nënshtrojnë profilet e tyre në portal
                </li>
                <li>
                    Kur përdoruesit kontaktojnë me ne përmes email-it, formës së kontaktit, ose nëpërmjet kanaleve të tjera të komunikimit
                </li>
                <li>
                    Kur përdoruesit vizitojnë portalin tonë, ne mund të mbledhim informacione të anonimizuara si për shembull, përdorimi i browser-it, adresa IP dhe informacioni i lokacionit.
                </li>
            </ul>

            Informacioni që ne mbledhim mund të përfshijë emrin, adresën e email-it, numrin e telefonit, adresën e punës, dhe informacionin e karrierës së përdoruesit.
            <br />
            <strong>Përdorimi i Informacionit</strong>
            <br />
            Ne përdorim informacionin e përdoruesve tanë për të ofruar shërbime të personalizuara dhe të arritshme për përdoruesit tanë. Ne mund të përdorim informacionin e përdoruesve tanë për:
            <br />
            <ul>
                <li>
                    Të kontaktojmë me përdoruesit tanë për të përgjigjur pyetjeve ose ankesave
                </li>
                <li>
                    Të njoftojmë përdoruesit tanë rreth ndryshimeve në shërbimet tona dhe kushtet e përdorimit
                </li>
                <li>
                    Të njoftojmë përdoruesit tanë rreth mundësive të reja të punësimit që janë të lidhura me profilet e tyre
                </li>
                <li>
                    Të analizojmë dhe të përmirësojmë shërbimet tona duke përdorur informacionin e përdoruesve tanë
                </li>
            </ul>

            <strong>Ruajtja dhe Mbajtja e Informacionit</strong>
            <br />
            Ne do të ruajmë informacionin e përdoruesve tanë për një periudhë të caktuar kohore, duke marrë parasysh ligjet dhe rregullat e aplikueshme. Pas periudhës së caktuar kohore, ne do të fshijmë ose të anonimizojmë informacionin e përdoruesve tanë në mënyra të caktuara nga ligjet e aplikueshme.
            Ne do të ndërmarrim masat e duhura të sigurisë për të mbrojtur informacionin e përdoruesve tanë nga hyrja e pavullnetshme, përdorimi i paautorizuar, ndryshimi ose shkatërrimi. Ju lutem vini re se asnjë metodë e transmetimit të informacionit ose depozitimit të informacionit në internet nuk është 100% e sigurtë, dhe ne nuk mund të garantojmë sigurinë e informacionit tuaj në çdo kohë.
            <br />
            <strong>Shpërndarja e Informacionit</strong>
            <br />
            Ne nuk do të ndajmë ose të shpërndajmë informacionin e përdoruesve tanë me palë të treta pa lejen e tyre, me përjashtim të rasteve të caktuara kur ne jemi të detyruar nga ligji ose në raste të tjera të caktuara nga ligji.
            <br />
            <strong>Ndryshime në Politikën e Privatësisë</strong>
            <br />
            Ne mund të ndryshojmë këtë politikë të privatësisë në çdo kohë duke publikuar një version të ri në portal. Ju lutem kontrolloni këtë faqe me rregullt për të qenë të njohur me versionin më të fundit të politikës sonë të privatësisë.
            <br />
            <strong>Kontaktimi me Ne</strong>
            <br />
            Nëse keni pyetje ose ankesa rreth kësaj politike të privatësisë, ose nëse dëshironi të ndryshoni ose të fshini informacionin tuaj, ju lutemi na kontaktoni në <a href="mailto:info@zero.al">info@zero.al</a>.
            Ky Politikë është vlefshme në zbatimin e saj në portalin <a href="https://zero.al">Zero.al</a>
        </p>

    </div>
</body>
</html>