
.fifty-chars {
    width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.remove-cell {
    visibility: hidden;
}

@@media screen and (max-width: 600px) {
    .remove-cell {
        visibility: visible
    }
}

@@media screen and (max-width: 600px) {
    .remove-frame {
        display: none;
    }
}

#ifrm1 {
    opacity: 0;
    transition: opacity 1.5s linear;
}

#trig1:hover + iframe {
    opacity: 1;
    transition: opacity 1.5s linear;
}