.resetStyle {
    margin-top: 5%;
    margin-left: 35%;
}

#width-resize {
    width: 30%;
}

footer {
    display: none;
}

@media screen and (max-width: 480px) {
    .move-center{
        margin-right:80%;
    }
}